<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href=" {% static '/reset.css' %} ">
    <link rel="stylesheet" href=" {% static '/app.css' %} ">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <title>Form đăng nhập</title>
</head>

<body id="bg" style="background-image : url('{% static 'img/bg.jpg' %}');">

    <div id="wrapper">
        <form action="{%url 'xuly_dangnhap' %}" id="form-login">
            <h1 class="form-heading">Đăng Nhập - cap nhat</h1>
            <div class="form-group">
                <i class="far fa-user"></i>
                <input type="text" id="ten" name="ten" class="form-input" placeholder="Tên đăng nhập">
            </div>
            <div class="form-group">
                <i class="fas fa-key"></i>
                <input type="password" id="matkhau" name="matkhau" class="form-input" placeholder="Mật khẩu">
                <div id="eye">
                    <i class="far fa-eye"></i>
                </div>
            </div>
            <input type="submit" value="Đăng nhập" class="form-submit">
        </form>
    </div>
    
</body>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/Form_Dangnhap/js/app.js"></script> -->
</html>